html {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    /* overflow-x: hidden; */
}

body {
    margin: 0;
    padding: 0;
    background-attachment: fixed;
    background-image: linear-gradient(30deg, rgb(11, 11, 53), #255);
    width: 100%;
    height: 100%;
}

#container h1,h2{
    text-align:justify;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #fff;
}
.header>h1 {
    font-size: 70px;
    padding: 0;
    margin: 0;
    /* position: relative; */
    left: 5vw;
    top: 5vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #fff;
}

.header {
    margin: 0;
    padding: 0;
    height: 50vh;
    width: 100%;
}

#tunaFish {
    position: absolute;
    right: 5%;
    top: 6%;
    width: 120px;
    height: 120px;
}

.row {
    background-color: rgb(27, 22, 36);
    margin: 20px;
    padding: 5px;
    color: #fff;
    border-radius: 7px;
}

.card>img {
    position: relative;
    left: 200%;
    bottom: 30px;
    height: 70px;
    width: 70px;
}

#mountainImg {
    margin: 0;
    padding: 0;
    position: relative;
    width: 100%;
    height: 150px;
    top: 60px;
    right: 20px;
    border-bottom: #255 10px inset ;
    border-radius: 0px 60px 7px 7px;
    background-color: transparent;
    filter: brightness(80%);
}

#searchDiv{
    margin: 3px;
    padding: 10px;
    border-radius: 7px;
    width: 100%;
}

#searchBox {
    height: 40px;
    border-radius: 5px;
    bottom: 2px;
    width: max-content;
}

.nav>li {
    top: 10px;
    background-color: #255;
    border-radius: 5px;
    margin: 10px;
    font-size: medium;
}

ul>.col-xs-10 {
    background-color: transparent;
}
#loadingGif{
    display:inline-block;
    margin: 20px;
    padding: 0;
    height: 50px;
    width: 50px;
    position: relative;
}

.form-check-input{
    height: 20px;
    width: 20px;
}
.form-check-label{
    box-shadow: 3px 3px 5px black;
    border-radius: 5px;
    font-size: medium;
    color: rgb(8, 153, 211);
}
h3{
    margin: 30px;
    color: #fff;
    max-width: 500px;
    position: absolute;
    top: 70%;
}

.modal-body{
    padding: 0;
    margin: 0;
    min-height: 500px;
}

#noReportsText{
    position: absolute;
    top: 60vh;
    text-align: center;
}
